{% extends 'html/base.html' %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block content %}
<!-- <section class="vh-100" style="background-color: #f4f5f7;"> -->
    <div class="container py-5 h-100">
          <div class="card mb-3" style="border-radius: .5rem;">
            <div class="row g-0">
              <div class="col-md-4 gradient-custom text-center text-white"
                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;background: #f6d365;
                background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
                background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))">
                <div class="row my-4">
                    <div class="col circle mx-2 my-4">
                        <i class="fa fa-bars"></i>
                        <span class="number">5</span>
                    </div>
                    <div class="col circle mx-2 my-4">
                        <i class="fa fa-times"></i>
                        <span class="number">5</span>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col circle mx-2 my-4">
                        <i class="fa fa-thumbs-up"></i>
                        <span class="number">5</span>
                    </div>
                    <div class="col circle mx-2 my-4">
                        <i class="fa fa-thumbs-down"></i>
                        <span class="number">5</span>
                    </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="card-body p-4">
                    <h6>Information</h6>
                    <hr class="mt-0 mb-4">
                    <div class="row pt-1">
                      <div class="col-6 mb-3">
                        <h6>Username</h6>
                        <p class="text-muted">{{user_details.username}}</p>
                      </div>
                      <div class="col-6 mb-3">
                        <h6>Year</h6>
                        <p class="text-muted">{{user_details.establishment_year}}</p>
                      </div>
                    </div>
                    <div class="row pt-1">
                        <div class="col-6 mb-3">
                          <h6>Registartion Number</h6>
                          <p class="text-muted">{{user_details.regno}}</p>
                        </div>
                        <div class="col-6 mb-3">
                          <h6>Type</h6>
                          <p class="text-muted">{{user_details.company_type}}</p>
                        </div>
                      </div>
                  <h6>Contact Information</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Email</h6>
                      <p class="text-muted">{{user_details.email}}</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Phone</h6>
                      <p class="text-muted">{{user_details.mobile}}</p>
                    </div>
                    <div class="col-6 mb-3">
                        <h6>Address</h6>
                        <p class="text-muted">{{user_details.address}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  <!-- </section> -->





    <!-- <div class="container mt-4">
        <div class="card col-md-7 mx-auto shadow-lg">
            <div class="card-body">
                <h4 class="text-center">Profile</h4>
                <table class="table table-responsive">
                    <tr>
                        <td class="font-weight-bold">Username</td>
                        <td>{{user_details.username}}</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Email</td>
                        <td>{{user_details.email}}</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Registration Number</td>
                        <td>{{user_details.regno}}</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Mobile</td>
                        <td>{{user_details.mobile}}</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Company Type</td>
                        <td>{{user_details.company_type}}</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Address</td>
                        <td>{{user_details.address}}</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Establishment Year</td>
                        <td>{{user_details.establishment_year}}</td>
                    </tr>
                </table>
                
            </div>
        </div>
    </div> -->
{% endblock %}