{% extends 'html/base.html' %}
{% load static %}
{% block title %}View Tender{% endblock %}
{% block content %}
    <div class="container mt-4">
        <div class="card col-md-8 mx-auto shadow-lg">
            <div class="card-body">


                {%if details.Status == "Inactive" %}
                <div class="text-secondary">{{details.Status}}</div>
                {% elif details.Status == "Active" %}
                <div class="text-success">{{details.Status}}</div>
                {% elif details.Status == "Completed" %}
                <div class="text-danger">{{details.Status}}</div>
                {% endif %}


                <h2 class="font-weight-bold">{{details.title}}</h2>

                <span>
                    <p class="text-right"><i class="fa fa-clock-o"></i>  {{details.end_date_time}}</p>
                </span>

                <hr style="height:1.5px;border-width:0;color:gray;background-color:gray">

                <p>{{details.description}}</p>
                
                <h6>
                    <a href = "{% static details.document.url %}" target="_blank">Click Here</a>
                    for tender document
                </h6>

            </div>
        </div>
    </div>
    

    {% if request.user.is_superuser %}
        {% if details.Status == "Completed" or details.Status == "Granted" %}
            <!-- {% for bid in bids_submitted_to_this_tender %} -->
            <div class="container mt-4">
                <div class="card col-md-8 mx-auto shadow-lg">
                    <div class="card-body">
                        <table class="table">
                            <tr>
                                <th>Bid Document</th>
                                <th>Submitted By</th>
                                {% if details.Status == "Completed" %}
                                    <th>Acccept/Reject</th>
                                {% else %}
                                    <th>Status</th>
                                {% endif %}
                            </tr>
                            {% for bid in bids_submitted_to_this_tender %}
                            <tr>
                                <td><a href = "{% static bid.document.url %}" target="_blank">Click Here</a></td>
                                <td><a href = "{%url 'pf' bid.bidder_id %}">{{bid.bidder_id}}</a></td>
                                <td>
                                    {% if bid.Status == "Accepted" %}
                                    <span class="text-success">Accepted</span>
                                    {% elif bid.Status == "Rejected" %}
                                    <span class="text-danger">Rejected</span>
                                    {% elif bid.Status == "Ignored" %}
                                    <span class="text-warning">Ignored</span>
                                    {% else %}
                                    <a href="{% url 'ab' bid.id %}" class="btn btn-outline-success">Accept<i class="fa fa-check"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                        <!-- <h6>
                            <a href = "{% static bid.document.url %}" target="_blank">Click Here</a>
                            for bid document submitted by 
                            <a href = "{%url 'pf' bid.bidder_id %}">{{bid.bidder_id}}</a>
                            <div class="text-right">
                                {% if bid.Status == "Accepted" %}
                                <span class="text-success">Accepted</span>
                                {% elif bid.Status == "Rejected" %}
                                <span class="text-danger">Rejected</span>
                                {% elif bid.Status == "Ignored" %}
                                <span class="text-warning">Ignored</span>
                                {% else %}
                                <a href="{% url 'ab' bid.id %}" class="btn btn-outline-success">Accept<i class="fa fa-check"></i></a>
                                {% endif %}
                            </div>
                        </h6> -->
                    </div>
                </div>
            </div>
            <!-- {% endfor %} -->
        {% else %}
        <div class="container mt-4">
            <div class="card col-md-8 mx-auto shadow-lg">
                <div class="card-body">
                    <h5>Submitted bids will be displayed once the tender duration is completed</h5>
                </div>
            </div>
        </div>
        {% endif %}
    {% elif alreadysubmitted %}
        {% if details.Status == "Key Submission" %} 
            <div class="container mt-5">
                <div class="card col-md-8 mx-auto shadow-lg">
                    <div class="card-body">
                        <h6>
                            <form method="post">
                                {% csrf_token %}
                                <input type="text" name="secret_key" placeholder="Enter Secret Key" class="form-control my-2">
                                <input type="submit" value="Submit" class="btn btn-outline-success col my-2">
                            </form>
                        </h6>
                    </div>
                </div>
            </div>
        {% elif details.Status == "Completed" or details.Status == "Granted" %}
        <div class="container mt-5">
            <div class="card col-md-8 mx-auto shadow-lg">
                <div class="card-body">
                    <h6>
                        <a href = "{% static my_bid.document.url %}" target="_blank">Click Here</a>
                        for the submitted bid document
                        <div class="text-right">
                            {% if my_bid.Status == "Accepted" %}
                            <span class="text-success">Accepted</span>
                            {% elif my_bid.Status == "Rejected" %}
                            <span class="text-danger">Rejected</span>
                            {% endif %}
                        </div> 
                    </h6>
                </div>
            </div>
        </div>
        {% else %}
        <div class="container mt-4">
            <div class="card col-md-8 mx-auto shadow-lg">
                <div class="card-body">
                    <h5>Your bid has been submitted successfully</h5>
                </div>
            </div>
        </div>
        {% endif %}
        {% if dkey %}
        <script>
            function downloadDKey(dkey, title, username) {
                var element = document.createElement('a');
                element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(dkey));
                element.setAttribute('download', encodeURIComponent(title) + '_' + encodeURIComponent(username) + '_Secret_Key.txt');
                element.style.display = 'none';
                document.body.appendChild(element);
                element.click();
                document.body.removeChild(element);
                delete dkey;
            }
            downloadDKey("{{ dkey }}", "{{ details.title }}", "{{ request.user.username }}");
        </script>
        {% endif %}
    {% else %}
    {% if details.Status == 'Inactive'%}
    <div class="container mt-4">
        <div class="card col-md-8 mx-auto shadow-lg">
            <div class="card-body">
                <h5>Tender isn't started yet</h5>
            </div>
        </div>
    </div>
    {% elif details.Status == 'Active'%}
    <div class="container mt-4">
        <div class="card col-md-8 mx-auto shadow-lg">
            <div class="card-body">
                <h5>Submit your BID document Here</h5>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for i in bidsubmission %}
                     {{i}}
                    {% endfor %}
                    <input type="submit" value="Submit" class="btn btn-outline-success col my-2">
                </form>
            </div>
        </div>
    </div>
    {% else %}
    <div class="container mt-4">
        <div class="card col-md-8 mx-auto shadow-lg">
            <div class="card-body">
                <h5>You have not submitted your bid for this tender</h5>
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}

{% endblock %}